# Global EduCare Environment Configuration

# Server
PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/educare
JWT_SECRET=educare_super_secret_jwt_key_2026_change_in_production
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
ML_SERVICE_URL=http://localhost:8000

# ML Service
ML_PORT=8000
ML_HOST=0.0.0.0

# Client
VITE_API_URL=http://localhost:5001/api
