PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/educare
JWT_SECRET=educare_super_secure_jwt_secret_key_2026_xyz
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
ML_SERVICE_URL=http://127.0.0.1:8000
NODE_ENV=development
